@page
@using ASP.NET_Projekt_Wypozyczalnia.Models
@model RegisterModel

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm p-4">
            <h2 class="text-center mb-4">Stwórz nowe konto</h2>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nazwa@przyklad.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="hasło" />
                    <label asp-for="Input.Password">Hasło</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="hasło" />
                    <label asp-for="Input.ConfirmPassword">Potwierdź hasło</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.FirstName" class="form-control" placeholder="Imię" />
                    <label asp-for="Input.FirstName">Imię</label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.LastName" class="form-control" placeholder="Nazwisko" />
                    <label asp-for="Input.LastName">Nazwisko</label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Numer telefonu" />
                    <label asp-for="Input.PhoneNumber">Numer telefonu</label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.DocumentNumber" class="form-control" placeholder="Numer dokumentu" />
                    <label asp-for="Input.DocumentNumber">Numer dokumentu</label>
                    <span asp-validation-for="Input.DocumentNumber" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <select asp-for="Input.DocumentType" class="form-select" asp-items="Html.GetEnumSelectList<DocumentType>()">
                        <option value="" disabled selected>Wybierz typ dokumentu</option>
                    </select>
                    <label asp-for="Input.DocumentType">Typ dokumentu</label>
                    <span asp-validation-for="Input.DocumentType" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Address" class="form-control" placeholder="Adres zamieszkania" />
                    <label asp-for="Input.Address">Adres zamieszkania</label>
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-primary btn-lg mt-3">Zarejestruj się</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}