@model ASP.NET_Projekt_Wypozyczalnia.Models.Klient

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create" method="post">
			<div class="form-group">
				<label asp-for="Imie" class="control-label"></label>
				<input asp-for="Imie" class="form=label" />
			</div>
			<div class="form-group">
				<label asp-for="Nazwisko" class="control-label"></label>
				<input asp-for="Nazwisko" class="form=label" />
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form=label" />
			</div>
			<div class="form-group">
				<label asp-for="Telefon" class="control-label"></label>
				<input asp-for="Telefon" class="form=label" />
			</div>
		</form>
	</div>
></div>